/*
  DIAGNOSTIC STYLING
*/
body {
  background: lightslategray;
}



/************
LAYOUT
************/

/* PRESENTATION 
*CSS: https://cssreference.io
*/

/* PRESENTATION 
*CSS: https://cssreference.io
*/

*{
  box-sizing: border-box;
  }
  
  html, body{
  font-family: 'futura', ariel;
  }
  
  .top_header{
  padding:1.5em 0;
  }
  .logo {
    color:black;
  float:left;
  font-size:30px;
  font-weight:700;
    }
  .wrapper{
  width:1440px;
  max-width: 90%;
  margin:0 auto;
  }
  #main_nav{
  float: right;
  font-size: 20px;
  padding-top:2em;
  }
  a{
  color:#FF0000;
  text-decoration: none;
  margin-left: 1em;
  }
  #banner{
  background: whitesmoke;
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;
  }
  #banner_content_wrapper{
  width: 900px;
  max-width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  main section { 
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  
  
  
  
  
  
  





a:link,
a:visited {
  color: red;
  text-decoration: none;
}

a:hover,
a:active {
  color: dimgrey;
}


ul > li {
  list-style: square;
  color: red;
    font-family: futura;
}



/************
HEADER
************/
/* Your Styles */
h1{
    color: red;
    font-family: futura;
    font-size: 72px;
text-align: center;
}

h5{
  color: dimgrey;
  font-family: futura;
  font-size: 20px;
  text-align: center;
}

figcaption{
  text-align: center;
  color:red;
  font-family: futura;
}
/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/


figure {
  background: whitesmoke
}
 
figure:hover img { 
opacity: 0.5;
-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}