/*
  DIAGNOSTIC STYLING
*/
body {
  background:whitesmoke;
}

* {
  outline: 1px dotted whitesmoke;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}
a:link,
a:visited {
  color: red;
  text-decoration: none;
}

a:hover,
a:active {
  color: dimgrey;
}


ul > li {
  list-style: square;
  color: red;
    font-family: futura;
}

p{
font-size: 18px;
  color: dimgrey;
  font-family: futura;
}

/************
HEADER
************/
/* Your Styles */
h1{
    color: red;
    font-family: futura;
    font-size: 72px;
text-align: center;
}

h5{
  color: dimgrey;
  font-family: futura;
  font-size: 20px;
  text-align: center;
}

figcaption{
  text-align: center;
  color:red;
  font-family: futura;
}
/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  background: whitesmoke;
}

figure:hover img { 
opacity: 0.5;
}
/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}