/* 
Forked from: https://codepen.io/geoffgraham/pen/jaqWMJ
*/

/*
  DIAGNOSTIC STYLING (ignore this)
*/
* {
  outline: 1px dotted whitesmoke;
}

/*
  LAYOUT STYLING (copy this code)
*/

body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
color:black;
background-color:whitesmoke;
font-family: Futura;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 5;
}

@media (max-width: 700px) {
  
  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}

main{
  background-color:whitesmoke;
  font-family: Futura;
}

.top_header{
padding:1.5em 0;
}
.logo {
float:left;
font-size:25px;
font-weight:700;
font-family: Futura;
  }
.wrapper{
width:1440px;
max-width: 90%;
margin:0 auto;
}
#main_nav{
float: right;
font-size: 14px;
padding-top:2em;
background-color:whitesmoke;
font-family: Futura;
text-transform: uppercase;
}
a{
color:#FF0000;
text-decoration: none;
margin-left: 1em;
}

main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

video {
  width: 100%;
}
.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}


img{
width:100%;
}

footer {
  text-align: center;
  background-color:whitesmoke;
  font-family: Futura;
}


a:link,
a:visited {
  color: red;
  text-decoration: none;
}

a:hover,
a:active {
  color: dimgrey;
}

figure {
  background: whitesmoke
}
 
figure:hover img { 
opacity: 0.5;
-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}